<html>
<head>
    <title>sing-up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
    background-color:#e2e2e2;
    display: flex;
    
    justify-content: center;
    
}

    
.sing-up{
    position:relative;
    vertical-align:middle;
    top:20%;
    background-color:#37538d;
    width:350px;
    height:400px;
    
    box-shadow: 0 1px #5670a4 inset, 0 0 10px 5px rgb(0 0 0 / 10%);
    
    place-items: center;
}
.in{
    margin-top:10px;
    margin-left:7.4%;
    
    
    
}
</style>
</head>
<body>
<div class="sing-up">
<div class="in">
<form action="/dashbord" method="POST">
<h1 style="color:#fff; margin-left:33%; padding:15 0 3 2;">ثبت نام</h1>
<label for="number">
<input class="num" type="number" name="number" style="width:300px;height:30px;" required placeholder="شماره موبایل">
</label>
<label>
<input class="pass-2" type="username" name="name" style="width:300px;height:30px;" required placeholder="نام">
</label>
<label for="password">
<input class="pass-1" type="password" name="password"  style="width:300px;height:30px;" required placeholder="کلمه عبور">
</label>
<label>
<input class="pass-2" type="password" name="r-password" style="width:300px;height:30px;" required placeholder="تکرار کلمه عبور">
</label>
<label>
<input class="pass-2" type="number" name="clas"  style="width:300px;height:30px;" required placeholder="کلاس چندم">
</label>
<label>
<input name="sub" type="submit" value="تکمیل" style="margin-top:40px;width:300px;height:30px;">
</label>

</form>
</div>
</div>
</body>
</head>